html {
  background: url(pico1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-size: 2vw;
}

#screen {
	position: relative;
	width: 100%;
	height: 100%;
}

#homebuttons{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 10%;
}

body {
	font-family: "Trebuchet MS";
	font-size: 16px;
	text-align: center;
}

#welcome {
	margin-top: -3%;
	text-align: center;
	font-size: 160px;
	font-family: "Trebuchet MS";
	color: #EFAF98;
}
.bio {
	padding-left: 25%;
	padding-right: 25%;
}

.homebutton {
	float: left;
	background-color:#E7B787;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #EFAF98;
	display:inline-block;
	cursor:pointer;
	color:#D88A46;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	font-family: "Trebuchet MS";
}

.homebutton:hover {
	background-color:#EFAF98;
}

.homebutton:active {
	position:relative;
	top:1px;
}

.home {
	background-color:#E7B787;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #EFAF98;
	display:inline-block;
	cursor:pointer;
	color:#D88A46;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	font-family: "Trebuchet MS";
}

.home:hover {
	background-color:#EFAF98;
}

.home:active {
	position:relative;
	top:1px;
}

.res_home {
	background-color:#E7B787;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #EFAF98;
	display:inline-block;
	cursor:pointer;
	color:#D88A46;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	font-family: "Trebuchet MS";
}

.res_home:hover {
	background-color:#EFAF98;
}

.res_home:active {
	position:relative;
	top:1px;
}

#iframeContainer {
	position: relative;
	overflow: hidden;
}

#frame {
	align: "left";
}

img {
	border-radius: 50%;
	max-width: 50%;
  	height: auto;
}

h6 {
	font-family: "Trebuchet MS";
	font-size: 20px;
	text-align: center;
	background-color: #EFAF98;
	margin-left: 40%;
	margin-right: 40%;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-family: "Trebuchet MS";
	color: #E7B787;
}

h2 {
	font-size: 20px;
	font-family: "Trebuchet MS";
	text-align: left;
	background-color: lightcyan;
}

